USERNAME="test_user"
PASSWORD="test_pass"
CHANNEL="test_chan"
START_OPEN=false
ENABLE_ABS_POS=false
ENABLE_CUSTOM_CODES=false
ENABLE_ROMHACKS=false
MAX_SIZE=100
LEVEL_TIMEOUT=9999
LEVEL_SELECTION='"next", "next", "weightedrandom"' # The quotes are important!
MESSAGE_COOLDOWN=5
DATAID_COURSE_THRESHOLD=undefined
DATAID_MAKER_THRESHOLD=undefined