###############################################
#  Queso Queue Docker Environment Variables   #
# All variables in this file must be defined! #
###############################################
USERNAME="test_user" # bot account username on Twitch (or yours)
PASSWORD="test_pass" # generated at https://twitchapps.com/tmi/
CHANNEL="test_chan" # channel where the bot will run
START_OPEN=false # whether or not the queue will start open
ENABLE_ABS_POS=false # whether or not absolute position (offline position) will be stated alongside relative position (online position)
ENABLE_CUSTOM_CODES=false # whether or not custom codes are allowed to be submitted to the queue, allowed to be created, and allowed to be removed
ENABLE_ROMHACKS=false # whether or not romhacks can be submitted to the queue, only works if ENABLE_CUSTOM_CODES is set to true
MAX_SIZE=100 # the max amount of levels in the queue
LEVEL_TIMEOUT=null # the length of time in minutes a level can be played before the timer will go off (or null, to disable the timer)
# Acceptable values: "next", "subnext", "modnext", "random", "weightedrandom", "subrandom", "modrandom"
# The quotes are important!! Make sure this has double quotes surrounding the whole thing, and single quotes around each individual entry in the list.
LEVEL_SELECTION='"next", "next", "weightedrandom"'
MESSAGE_COOLDOWN=5 # the length of time in seconds one must wait before !list will work again
DATAID_COURSE_THRESHOLD=null # change this to the number of the maximum allowed data ID for course IDs
DATAID_MAKER_THRESHOLD=null # change this to the number of the maximum allowed data ID for maker IDs